version: '3.8'

services:
  database:
    image: mariadb:10.5
    restart: always
    command: --default-authentication-plugin=mysql_native_password
    volumes:
      - /srv/pterodactyl/database:/var/lib/mysql
    environment:
      MYSQL_DATABASE: "${MYSQL_DATABASE:-${DB_DATABASE}}"
      MYSQL_USER: "${MYSQL_USER:-${DB_USERNAME}}"
      MYSQL_PASSWORD: "${MYSQL_PASSWORD:-${DB_PASSWORD}}"
      MYSQL_ROOT_PASSWORD: "${MYSQL_ROOT_PASSWORD}"
    networks:
      - mcnet

  cache:
    image: redis:alpine
    restart: always
    networks:
      - mcnet

  panel:
    image: ghcr.io/pterodactyl/panel:v1.11.11
    restart: always
    # ports:
    #   - "${PANEL_PORT_HTTP:-}"
    #   - "${PANEL_PORT_HTTPS:-}"
    links:
      - database
      - cache
    volumes:
      # - /srv/pterodactyl/panel/app:/app
      # - /srv/pterodactyl/panel/var:/app/var
      - /srv/pterodactyl/panel/nginx:/etc/nginx/http.d
      - /srv/pterodactyl/panel/certs:/etc/letsencrypt
      # - /srv/pterodactyl/panel/logs:/app/storage/logs
    environment:
      APP_ENV: "${APP_ENV}"
      APP_ENVIRONMENT_ONLY: "${APP_ENVIRONMENT_ONLY}"
      APP_URL: "${APP_URL}"
      APP_TIMEZONE: "${APP_TIMEZONE}"
      APP_SERVICE_AUTHOR: "${APP_SERVICE_AUTHOR}"
      CACHE_DRIVER: "${CACHE_DRIVER}"
      SESSION_DRIVER: "${SESSION_DRIVER}"
      QUEUE_DRIVER: "${QUEUE_DRIVER}"
      REDIS_HOST: "${REDIS_HOST}"
      DB_HOST: "${DB_HOST}"
      DB_PORT: "${DB_PORT}"
      DB_DATABASE: "${DB_DATABASE}"
      DB_USERNAME: "${DB_USERNAME}"
      DB_PASSWORD: "${DB_PASSWORD}"
      MAIL_FROM: "${MAIL_FROM}"
      MAIL_DRIVER: "${MAIL_DRIVER}"
      MAIL_HOST: "${MAIL_HOST}"
      MAIL_PORT: "${MAIL_PORT}"
      MAIL_USERNAME: "${MAIL_USERNAME}"
      MAIL_PASSWORD: "${MAIL_PASSWORD}"
      MAIL_ENCRYPTION: "${MAIL_ENCRYPTION}"
    networks:
      - mcnet

  wings:
    image: ghcr.io/pterodactyl/wings:latest
    restart: always
    privileged: true
    # ports:
    #   - "${WINGS_PORT_MAPPING:-}"
    volumes:
      - /var/run/docker.sock:/var/run/docker.sock
      - /srv/pterodactyl/wings/lib:/var/lib/pterodactyl
      - /srv/pterodactyl/wings/logs:/var/log/pterodactyl
      - /srv/pterodactyl/wings/config:/etc/pterodactyl
    environment:
      TZ: "${APP_TIMEZONE}"
      WINGS_UID: "${WINGS_UID}"
      WINGS_GID: "${WINGS_GID}"
    networks:
      - mcnet

networks:
  mcnet:
    external: false
